@import "../base/variables";

.sidebar-component {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: $black;
    width: 100%;
    box-sizing: border-box;
    font-family: $main_font;
}

.logo-navbar {
    color: $light-grey;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

.sidebar-component nav {
    float: right;
}

.sidebar-component nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar-component nav ul li {
    list-style-type: none;
}

.sidebar-component nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: $light-grey;
    text-decoration: none;
    display: block;
}

.sidebar-component nav ul li a:hover,
.sidebar-component nav ul li a.active {
    color: $light-grey;
    background: $light-blue;
}

.menu-toggle {
    color: $light-grey;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    .sidebar-component {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    .sidebar-component nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: $black;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .sidebar-component nav.active {
        left: 0;
    }
    .sidebar-component nav ul {
        display: block;
        text-align: center;
    }
    .sidebar-component nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}