/* line 1, ../../../sass/modules/Row.scss */
.row {
  color: white;
  margin-left: 20px;
}

/* line 6, ../../../sass/modules/Row.scss */
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

/* line 13, ../../../sass/modules/Row.scss */
.row_posters::-webkit-scrollbar {
  display: none;
}

/* line 17, ../../../sass/modules/Row.scss */
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

/* line 25, ../../../sass/modules/Row.scss */
.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

/* line 30, ../../../sass/modules/Row.scss */
.row_posterLarge {
  max-height: 250px;
}

/* line 34, ../../../sass/modules/Row.scss */
.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
